.coding-project-grid {
  width: calc(100vw - 400px); 
  display: grid; 
  grid-column-gap: 50px; 
  grid-row-gap: 50px; 
  font-size: 20px; 
  margin-bottom: 2.5em; 
  margin-left: 20vw; 
  text-align: center;
}

.android-development {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 2; 
}

.python {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 2;
}

.front-end-development {
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.api-projects {
  grid-column-start: 2; 
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.react {
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.flutter {
  grid-column-start: 2; 
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.project-pictures {
    margin-right: auto;
    margin-left: auto; 
    margin-top: 1em; 
    margin-bottom: 1em;
    width: 24.375vw; 
    height: 15vw; 
}

.coding-projects {
  color: #20a377;
  padding: 1em; 
}

.coding-projects:hover {
  background: white;
  animation: scale 200ms ease-in-out forwards; 
}

.row2 {
  color:#8a2be2; 
}

.row3 {
  color: #ffa500;
}

.coding-projects-title {
  font-size: 2em;
  color: blue;
  font-weight: bold;
  margin-left: 14vw;
  margin-top: 2.5em;
}

@keyframes scale {
  to {
    transform: scale(1.05); 
  }
}

@media (max-width: 900px) {
  .coding-project-grid {
    margin-left: 35vw;   
  }

  .coding-projects-title {
    margin-left: calc(100vw - 200px); 
  }

  .project-pictures {
    width: 35vw; 
    height: 20vw; 
  }
}

@media (max-width: 1200px) {
  .coding-project-grid {
    width: calc(100vw - 600px);
    margin-left: 35vw;   
  }

  .coding-projects-title {
    width: 300px;
    font-size: 1.75em; 
    position: relative; 
    margin-left: calc(50vw - 50px); 
  }

  .project-pictures {
    width: 35vw; 
    height: 20vw; 
  }

  .android-development {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2; 
  }

  .python {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3;
  }

  .front-end-development {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 3; 
    grid-row-end: 4;
  }

  .api-projects {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 4; 
    grid-row-end: 5; 
  }

  .react {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 5; 
    grid-row-end: 6; 
  }

  .flutter {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 6; 
    grid-row-end: 7; 
  }
}

@media (min-width: 1200px) {
  .coding-projects-title {
    text-align: center;
  }
}