.coding-project-grid {
  width: calc(100vw - 400px); 
  display: grid; 
  grid-column-gap: 50px; 
  grid-row-gap: 50px; 
  font-size: 20px; 
  margin-bottom: 2.5em; 
  margin-left: 20vw; 
  text-align: center;
}

.android-development {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 2; 
}

.python {
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 2;
}

.front-end-development {
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.api-projects {
  grid-column-start: 2; 
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.project-pictures {
    margin-right: auto;
    margin-left: auto; 
    margin-top: 1em; 
    margin-bottom: 2em;
    width: 24.375vw; 
    height: 15vw; 
}

.coding-projects {
  color: rgb(21, 11, 155);
  padding: 1em; 
}

.coding-projects:hover {
  background: white;
  animation: scale 200ms ease-in-out forwards; 
}

.coding-projects-title {
  font-size: 2.5vw;
  color: blue;
  text-align: center;
  margin-left: 15vw;
  margin-top: 1.50em;
}

@keyframes scale {
  to {
    transform: scale(1.05); 
  }
}
