.violin-section {
    width: calc(100vw - 400px); 
    margin-bottom: 2.5em; 
    margin-top: 2.5em; 
    margin-left: 20vw; 
    text-align: center;
    font-size: 1.5em; 
}

.violin-section-title {
    color: rgb(33, 134, 216); 
}

.violin-grid {
    display: grid; 
    grid-column-gap: 50px; 
    grid-row-gap: 25px; 
}

.solo-performances:hover {
    background: white;
    animation: scale 200ms ease-in-out forwards; 
}

.thumbnail {
    width: 27.5vw; 
    padding-left: 1em; 
    padding-right: 1em; 
    padding-bottom: 1em;
}

.piece-name {
    font-family: Helvetica; 
    font-weight: bold; 
    color: rgb(52, 125, 235); 
}

.composer {
    font-family: Helvetica; 
}

.performances-concerto {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

.performances-allegro {
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 1; 
    grid-row-end: 2; 
}

@media (max-width: 1200px) {
    .violin-section {
        width: calc(100vw - 600px); 
        margin-left: 32vw; 
    }

    .violin-section-title {
        width: 300px; 
        font-size: 1.5em;
        margin-left: calc(55vw - 400px); 
    }
}

@media (max-width: 800px) {
    .violin-section-title {
        font-size: 1.5em; 
        margin-left: 0.25vw; 
    }
}

@keyframes scale {
  to {
    transform: scale(1.05); 
  }
}
