.violin-section {
    width: calc(100vw - 400px); 
    margin-bottom: 2.5em; 
    margin-top: 2.5em; 
    margin-left: 24vw; 
    text-align: center;
    font-size: 20px; 
}

.violin-section-title {
    color: rgb(33, 134, 216); 
    font-size: 2em; 
    text-align: center;
}

.violin-grid {
    display: grid; 
    grid-column-gap: 50px; 
    grid-row-gap: 25px; 
}

.solo-performances:hover {
    animation: scale 200ms ease-in-out forwards; 
}

.thumbnail {
    width: 27.5vw; 
    padding-left: 1em; 
    padding-right: 1em; 
    padding-bottom: 1em;
}

.piece-name {
    font-weight: bold; 
    color: rgb(52, 125, 235); 
}

.composer {
    font-size: 16px; 
}

.performances-concerto {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

.performances-allegro {
    grid-column-start: 2; 
    grid-column-end: 3;
    grid-row-start: 1; 
    grid-row-end: 2; 
}

@media (max-width: 1100px) {
    .violin-section {
        width: calc(100vw - 600px); 
        margin-left: 25vw; 
    }

    .violin-section-title {
        width: 300px; 
        font-size: 1.5em;
        margin-left: calc(7.5vw + 100px); 
    }
    
    .violin-grid {
        margin-left: calc(5vw + 115px); 
    }

    .performances-concerto {
        grid-column-start: 1; 
        grid-column-end: 2; 
        grid-row-start: 1; 
        grid-row-end: 2; 
    }

    .performances-allegro {
        grid-column-start: 1; 
        grid-column-end: 2;
        grid-row-start: 2; 
        grid-row-end: 3; 
    }

}

@media (max-width: 800px) {
    .violin-section-title {
        font-size: 25px; 
        margin-left: calc(7.5vw + 5px); 
    }

    .violin-grid {
        margin-left: calc(2.5vw + 75px); 
    }

    .thumbnail {
        padding: 0.5em; 
    }
}

@keyframes scale {
  to {
    transform: scale(1.10); 
  }
}

.header-waves-opacity-bottom {
  position: fixed;
  z-index: 3; 
  bottom: 0;
  left: 0;
  width: calc(100% + 150px); 
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.header-waves-opacity-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
  overflow: hidden; 
}

.header-waves-opacity-bottom .shape-fill {
  fill: #5ac18e;
}
