.sidebar {
    height: 100vh; 
    width: 25vw; 
    flex: 0.2; 
    background-color: #003366;
    color: white; 
    height: 100vh; 
    padding: 10px; 
    min-width: 225px;
    max-width: 275px; 
    overflow: hidden; 
}

.logo {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin-top: 6em; 
}

.profile-img {
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
    margin: 0.5em; 
    margin-top: 1.0em; 
}

.contact-info {
    font-size: 16px; 
    margin: 0.75em; 
}

.name {
    font-weight: bold; 
}

.email {
    color: #f0f8ff; 
}

.social {
    color: #f0f8ff; 
}

.navigation {
    margin-top: 1.5em; 
    margin: 0.75em; 
    display: block; 
}

.nav-link {
    margin-top: 1.5em; 
    text-decoration: none;
    color: white; 
}

#introduction {
    margin-top: 4em; 
}