.sidebar {
    height: 100vh; 
    width: 25vw; 
    flex: 0.2; 
    background-color: #003366;
    color: white; 
    height: 100vh; 
    padding: 10px; 
    min-width: 175px;
    max-width: 300px; 
    overflow: hidden; 
}

.profile-img {
    height: 80px; 
    width: 80px; 
    border-radius: 50%;
    margin: 0.5em; 
    margin-top: 1.0em; 
}

.contact-info {
    font-size: 14px; 
    margin: 0.75em; 
}

.name {
    font-weight: bold; 
}

.email {
    color: #f0f8ff; 
}

.social {
    color: #f0f8ff; 
}

.navigation {
    margin: 0.75em; 
    margin-top: 1.5em; 
}

.nav-link {
    margin-top: 0.5em; 
}